/* ----- configurações gerais ----- */
*{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0; 
    position: relative;
}

 /* ----- Cabeçalho ----- */
h1{
    text-align: center;  
    padding: 30px 0;
}

header{
    padding: 15px 0;
    background-color: #80ffbf;
}

.containerHeader{
    width: 1200px;
    margin:  auto;
    padding: 10px;
    position: relative;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: rgb(126, 219, 255);   
}

.menu{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

a{
  text-decoration: none;
}

.logo{
    width: 250px;
    height: 50px;
    position: relative; 
}

.botaoMenu{
    display: inline-block;
    width: 180px;
    margin: 0 15px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    text-align: center; 
}

.icon{
    width: 50px;
    position: absolute;
    box-sizing: border-box;
}

.containerTitulo{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.tituloHeader{
    font-size: 30px;
    text-align: center;
}

#teste{
    background-image: url("./images/cat2.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;  
    margin: auto;
}

/* ----- Sessão Quem somos nos ----- */
#quemSomos{
    position: relative;
    top: 0;
    border: 3px solid black;
}

#containerQS{
    position: relative;
    top: 0;
    width: 1300px;
    height: 500px;
    margin: auto;
    background-color: #80c2ff;
}

.descricaoQuemsomos{
    max-width: 600px;
    position: relative;
    vertical-align: top;
    top: 100px;
    left: 130px;
    text-align: left;
    display: inline-block;
}

.containerGatos{
    position: absolute;
    right: 12%;
    top: 15%;
}

#gato1{
    position: relative;
    top: 70px;
}

#gato2{
    position: relative;
    top: 30px;
}

#gato3{
    position: relative;
    top: 90px;
}

#gato4{
    position: relative;
    top: 20px;
}

/* ----- Sessão Cuidados ----- */
#cuidados{
    position: relative;    
  
}

.containerCuidados{
    width: 1300px;
    height: 500px;
    margin: auto;
    position: relative; 
    top: 0;
    background-color: rgb(50, 102, 50); 
   
}

.containerVacina{
    text-align: center;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 5%;
}

.vacina{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-vacina-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;
}

.tituloCuidados{
    width: 200px;
    position: relative;
    top: 230px;
    box-sizing: border-box;
}

.containerCuidar{
    text-align: center;
    width: 200px;
    height: 300px;;
    border-width: 2px; 
    position: absolute;
    left: 35%;
    transform: translateX(-30%); 

}

.cuidar{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-cuidado-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;
}

.tituloCuidar{
    width: 200px;
    position: relative;
    top: 230px;
    border-style: solid;
    border-color: black;
    text-align: center;
    box-sizing: border-box;
}

.containerAdocao{
    text-align: center;
    width: 200px;
    height: 300px;
    border-width: 2px; 
    position: absolute;
    left: 55%;
}

.adocao{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-adocao-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;
}

.tituloAdocao{
    width: 200px;
    position: relative;
    top: 230px;
    text-align: center;
    box-sizing: border-box;
}
.containerEstrutura{
    text-align: center;
    width: 200px;
    height: 300px;
    border-width: 2px; 
    position: absolute;
    left: 78%;
}

.estrutura{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-estrutura-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;  
}

.tituloEstrutura{
    width: 200px;
    position: relative;
    top: 230px;
    text-align: center;
    box-sizing: border-box;
}

/* ----- Horário e Combos ----- */
#horariosCombos{
    
}

.containerHC{
    background-color: rgb(126, 219, 255);
    width: 1300px;
    height: 500px;
    margin: auto;
    position: relative;
    top: 0;
    padding-bottom: 50px;
}

.tabela{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#tituloHc{
    padding-bottom: 15px;
}

#textoHc{
    text-align: center; 
}

td{
    width: 150px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-left-style: solid;
    border-left-color: black;
}

.combos{
    position: absolute;
    width: 600px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
}

.cards{
    width: 150px;
    height: 200px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: black;
    background-color: rebeccapurple;
}

#cardBanho{
    height: 150px;
    width: 150px;
    background-image: url("./images/icon-banho.png");
    background-size: cover;
}

#cardTosa{
    height: 150px;
    width: 150px;
    background-image: url("./images/icon-tosa.png");
    background-size: cover;
    
}

#cardBT{
    height: 150px;
    width: 150px;
    background-image: url("./images/icon-banhoTosa.png");
    background-size: cover;
}

/* ----- Rodapé ----- */
footer{  
    background-color: rgb(131, 86, 50);
    height: 600px;
    position: relative;
    top: 0;
}

.containerFooter{
    height: 100%;
    width: 1500px;
    margin: auto;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.contato{
    position: relative;
}

form{
    width: 500px;
    height: 410px;
    padding: 15px;
    border-style: solid;
    border-color: black;
    background-color: rgba(185, 102, 25, 0.295);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.botao{
    width: 180px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.endereco{
    text-align: left;
    width: 400px;
    position: absolute;
    bottom: 30%;
}

.divEndereco{
    margin: 15px;
}

.links{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 30%;  
}

#linkRapido{
    font-size: 30px;
    border-bottom: 2px solid  black;
}

form textarea{
    width: 100%;
    height: 200px;
}

.inputformulario{
    display: block;
    width: 95%;
    margin: 5px 0;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}

.copy{
    position: absolute;
    width: 100%;
    bottom: 15px;   
}