/* ----------------- configurações gerais ------------------- */
*{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0; 
    position: relative;
}

h1{
    text-align: center;  
    padding: 30px 0;
    font-size: 40px;
}

a{
    text-decoration: none;
    display: block;
    padding: 5px;
    background-color: rgb(35, 193, 255);
    border-radius: 15px;
    border: 2px solid black;
    text-decoration: none;

}

a:hover{
    background-color: #80ffbf;
}

a:active{
    color: black;
}

p{
    font-size: 22px;
}
 /* -----------------------Cabeçalho -----------------------*/


header{
    padding: 15px 0;
    background-color: rgb(56, 156, 163);
}

.containerHeader{
    width: 1200px;
    margin:  auto;
    padding: 10px;
    position: relative;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: rgb(0, 174, 255);   
}

.menu{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo{
    width: 250px;
    height: 50px;
    position: relative; 
}

.botaoMenu{
    display: inline-block;
    width: 180px;
    margin: 0 15px;
    border-radius: 20px;
    text-align: center; 
    border: 0 solid black;
}

.icon{
    width: 50px;
    position: absolute;
    box-sizing: border-box;
}

.containerTitulo{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.tituloHeader{
    font-size: 30px;
    text-align: center;
}

#teste{
    background-image: url("./images/cat9.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;  
    margin: auto;
}



#textoText{
    color: white;
    position: absolute;
    width: 500px;
    top: 200px;
    left: 250px;
    font-size: 35px;
}

/* ----------------------------- Banner 1------------------------------ */

#banner{
    background-image: url("./images/cat6.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 650px;  ;
}

#textoBanner{
    font-size: 70px;
    color: white;
    width: 650px;
    position: absolute;
    left: 100px;
    top: 150px;
    text-shadow: black 3px 3px  3px ;
    transform: rotate(-3deg);
}

/* ----------------------- Sessão Quem somos nos ------------------------------ */
#quemSomosNos{
    position: relative;
    top: 0;
    background-color: #80ffbf ;
}

#containerQS{
    position: relative;
    top: 0;
    width: 1300px;
    height: 500px;
    margin: auto;
    
}

#descricaoQuemSomos{
    max-width: 600px;
    position: relative;
    vertical-align: top;
    top: 30px;
    left: 130px;
    text-align: left;
    display: inline-block;
}

.containerGatos{
    position: absolute;
    right: 12%;
    top: 15%;
}

#gato1{
    position: relative;
    top: 70px;
}

#gato2{
    position: relative;
    top: 30px;
}

#gato3{
    position: relative;
    top: 90px;
}

#gato4{
    position: relative;
    top: 20px;
}

/* ----------------------------- Banner 2 ------------------------------ */
#banner2{
    background-image: url("./images/cat4.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 650px;  
}

#textoBanner2{
    font-size: 70px;
    color: white;
    width: 650px;
    position: absolute;
    right: 20px;
    top: 100px;
    text-shadow: black 3px 3px  3px ;
    transform: rotate(3deg);
}

/* -------------------------- Sessão Cuidados ------------------------- */
#cuidados{
    position: relative;
    background-color: #80c2ff;
    
}

.containerCuidados{
    width: 1300px;
    height: 500px;
    margin: auto;
    position: relative; 
    top: 0;
}

.containerVacina{
    text-align: center;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 5%;
}

.vacina{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-vacina-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;
}

.tituloCuidados{
    width: 200px;
    position: relative;
    top: 230px;
    box-sizing: border-box;
}

.containerCuidar{
    text-align: center;
    width: 200px;
    height: 300px;;
    border-width: 2px; 
    position: absolute;
    left: 35%;
    transform: translateX(-30%); 

}

.cuidar{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-cuidado-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;
}

.tituloCuidar{
    width: 200px;
    position: relative;
    top: 230px;
    border-style: solid;
    border-color: black;
    text-align: center;
    box-sizing: border-box;
}

.containerAdocao{
    text-align: center;
    width: 200px;
    height: 300px;
    border-width: 2px; 
    position: absolute;
    left: 55%;
}

.adocao{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-adocao-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;
}

.tituloAdocao{
    width: 200px;
    position: relative;
    top: 230px;
    text-align: center;
    box-sizing: border-box;
}
.containerEstrutura{
    text-align: center;
    width: 200px;
    height: 300px;
    border-width: 2px; 
    position: absolute;
    left: 78%;
}

.estrutura{
    width: 200px;
    height: 200px;
    top: 40px;
    background-image: url("./images/icon-estrutura-fundo.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px; 
    position: absolute;  
}

.tituloEstrutura{
    width: 200px;
    position: relative;
    top: 230px;
    text-align: center;
    box-sizing: border-box;
}

/* ----------------------------- Banner 3 ------------------------------ */
#banner3{
    background-image: url("./images/cat9.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 650px;  
}

#textoBanner3{
    font-size: 40px;
    color: white;
    width: 500px;
    left: 150px;
    top: 200px;
    text-shadow: black 3px 3px  3px ;
}

/* ------------------------------ Horário e Combos --------------------------------- */
#horariosCombos{
    background-color: #80ffbf;
}

.containerHC{
    width: 1300px;
    height: 550px;
    margin: auto;
    position: relative;
    top: 0;
    padding-bottom: 50px;
}

.tabela{
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translateY(-70%);
}

#textoHc{
    text-align: center; 
}

td{
    width: 150px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-left-style: solid;
    border-left-color: black;
}

.combos{
    position: absolute;
    width: 650px;
    height: 250px;
    left: 50%;
    top: 70%;
    transform: translateY(-70%);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
}

.cards{
    width: 170px;
    height: 200px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: black;
    background-color: #80c2ff;
}

.descricaoCard{
    font-size: 25px;
}

#cardBanho{
    height: 150px;
    width: 150px;
    background-image: url("./images/icon-banho.png");
    background-size: cover;
    display: inline-block;
}

#cardTosa{
    height: 150px;
    width: 150px;
    background-image: url("./images/icon-tosa.png");
    background-size: cover;
    display: inline-block;
}

#cardBT{
    height: 150px;
    width: 150px;
    background-image: url("./images/icon-banhoTosa.png");
    background-size: cover;
    display: inline-block;
}

/* ------------------------------ Rodapé ------------------------------ */
footer{  
    background-color: rgb(56, 156, 163);
    height: 600px;
    position: relative;
    top: 0;
    
}

.containerFooter{
    height: 100%;
    width: 1500px;
    margin: auto;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

#contato{
    position: relative;
}

#tituloContato{
    padding-bottom: 5px;
}

form{
    width: 500px;
    height: 400px;
    padding: 15px;
    border-style: solid;
    border-color: black;
    background-color: rgb(0, 174, 255);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#botao{
    width: 180px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;

}

.endereco{
    text-align: left;
    width: 450px;
    position: absolute;
    bottom: 30%;
}

.divEndereco{
    margin: 15px;
}

#links{
    width: 200px;
    position: absolute;
    right: 7%;
    bottom: 30%;
}

#linkRapido{
    font-size: 30px;
    border-bottom: 2px solid  black;
}

.listaLinks{
    list-style: none;
    margin: 15px 0;
}

form textarea{
    width: 100%;
    height: 200px;
}

.inputformulario{
    display: block;
    width: 95%;
    margin: 5px 0;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}

.copy{
    position: absolute;
    width: 100%;
    bottom: 0;   
}